{% extends 'base.html.twig' %}

{% block title %}Edit Registration
{% endblock %}

{% block body %}
	<h1 class="text-2xl font-bold mb-4 text-center mt-4">Edit Registration</h1>

	{{ include('register/_form.html.twig', {'button_label': 'Update'}) }}

	<div class="flex justify-center">
		<a href="{{ path('app_register_index') }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
			Back to list
		</a>
	</div>

	<div class="flex justify-center mt-4">
		{{ include('register/_delete_form.html.twig') }}
	</div>
{% endblock %}
